*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.squr{
    width: 100%;
    height: 100vh;
    border: 1px solid black;
}

.div1{
    width: 100%;
    height: 50vh;
    border: 1px solid black;
    display: flex;
}

.div2{
    width: 100%;
    height: 50vh;
    border: 1px solid black;
    display: flex;
}

.subdiv1{
    width: 50%;
    height: 100%;
    /* border: 1px solid black; */
    position: relative;
    background: linear-gradient(to top left,red,blue);
}

.subdiv2{
    width: 50%;
    height: 100%;
    /* border: 1px solid black; */
    position: relative;
    background: linear-gradient(to top right,red,blue);
}

.subdiv3{
    width: 50%;
    height: 100%;
    /* border: 1px solid black; */
    position: relative;
    background: linear-gradient(to bottom left,red,blue);
}

.subdiv4{
    width: 50%;
    height: 100%;
    /* border: 1px solid black; */
    position: relative;
    background: linear-gradient(to bottom right,red,blue);
}

.mainbox{
    position: absolute;
    display: flex;
}

.mainbox div{
    width: 600px ;
    height: 600px;
    border: 2px solid black;
    margin-top: 5%;
    margin-left: 15%;

}