.setup-pokemon {
  border: 2px solid #ccc;
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #f9f9f9;
}

.setup-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.setup-header img {
  width: 60px;
  height: 60px;
}

.moves-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.moves-container select {
  padding: 5px;
  border-radius: 6px;
}

.item-container {
  margin-top: 5px;
}

.item-container select {
  padding: 5px;
  border-radius: 6px;
}
